{% extends 'soundboard/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="col"></div>
<div class="col-8">
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <fieldset class="form-group">
        <h2>New Sound</h2>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Sound</button>
      </div>
    </form>
  </div>
</div>
<div class="col"></div>
{% endblock content %}
