{% extends "soundboard/base.html" %} {% block content %}
<div style="text-align: center; font-size: large">
  <h1>Level up your sounds with SoundVaultPro!</h1>
  <br />
  <p>Download the desktop app to play all of your favorite sounds.</p>
  <img src="https://cdn.discordapp.com/attachments/630930138854326283/929879531353944114/browsepic.PNG" alt="addpic" />
  <p style="margin-top: 15px">You can upload your sounds to the app, clip new sounds from youtube, or download sounds from the SoundVault database.</p>
  <p>There are also added features, such as the ability to play sounds through a secondary audio device, like a microphone.</p>
  <img src="https://cdn.discordapp.com/attachments/630930138854326283/929879504422305842/addpic.PNG" alt="browsepic" />
  <p style="margin-top: 15px">
    So what are you waiting for? Download the app right <span><a href="https://firebasestorage.googleapis.com/v0/b/tumbledmtg-website.appspot.com/o/SoundVaultPro.zip?alt=media&token=16b02c26-e72f-4541-9c36-66d6a32d81b4" target="_blank" rel="noopener noreferrer">here!</a></span>
  </p>
</div>
{% endblock content%}
