{% extends 'soundboard/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="col"></div>
<div class="col-8">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <h2>Login</h2>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <small class="text-muted">Don't have an account? <a href="{% url 'register'%}">sign up</a></small>
  </div>
</div>
<div class="col"></div>
{% endblock content %}
